openapi: 3.0.0
servers: []
info:
  version: "0.0.1"
  title: Airline data definitions
  description: Object definitions for the airline part of the WT platform.
paths: {}
components:
  schemas:
    AirlineOnChain:
      title: WT-Index airline record
      description: Airline record in WT-Index smart contract
      type: object
      required:
      - address
      - manager
      - dataUri
      - created
      properties:
        address:
          description: Ethereum address of the airline
          $ref: 'https://raw.githubusercontent.com/windingtree/wiki/2c6312c06b15a2c12fe764ce10bdb6c4a0f78843/shared-resources.yaml#/components/schemas/EthereumAddressType'
        manager:
          description: Ethereum address of the manager wallet
          $ref: 'https://raw.githubusercontent.com/windingtree/wiki/2c6312c06b15a2c12fe764ce10bdb6c4a0f78843/shared-resources.yaml#/components/schemas/EthereumAddressType'
        dataUri:
          description: URI of the Airline data index (pointing off-chain)
          $ref: 'https://raw.githubusercontent.com/windingtree/wiki/2c6312c06b15a2c12fe764ce10bdb6c4a0f78843/shared-resources.yaml#/components/schemas/UriType'
        created:
          description: Number of a block when the airline was created
          type: integer

    # Off chain data formats  
    AirlineDataIndex:
      title: Airline data index
      description: Landing index for airline resources. Link to this document is stored in WT-Index smart contract airline record.
      type: object
      required:
      - dataFormatVersion
      - descriptionUri
      properties:
        dataFormatVersion:
          description: Version number indicating the data format specification version.
          type: string
          format: semver
          maxLength: 20
        descriptionUri:
          description: URI pointing to the AirlineDescription data resource
          $ref: 'https://raw.githubusercontent.com/windingtree/wiki/2c6312c06b15a2c12fe764ce10bdb6c4a0f78843/shared-resources.yaml#/components/schemas/UriType'
        servicesUri:
          description: URI pointing to Services data resource
          $ref: 'https://raw.githubusercontent.com/windingtree/wiki/2c6312c06b15a2c12fe764ce10bdb6c4a0f78843/shared-resources.yaml#/components/schemas/UriType'
        flightsUri:
          $ref: 'https://raw.githubusercontent.com/windingtree/wiki/2c6312c06b15a2c12fe764ce10bdb6c4a0f78843/shared-resources.yaml#/components/schemas/UriType'
          description: URI pointing to Flights data resource
        bookingUri:
          $ref: 'https://raw.githubusercontent.com/windingtree/wiki/2c6312c06b15a2c12fe764ce10bdb6c4a0f78843/shared-resources.yaml#/components/schemas/UriType'
          description: URI pointing to an instance of the WT Booking service.
    AirlineDescription:
      title: Airline description.
      description: Basic properties of an airline.
      type: object
      required:
      - name
      - code
      - contacts
      - updatedAt
      properties:
        name:
          description: Name of the airline to display to users
          $ref: 'https://raw.githubusercontent.com/windingtree/wiki/2c6312c06b15a2c12fe764ce10bdb6c4a0f78843/shared-resources.yaml#/components/schemas/NameType'
        code:
          $ref: '#/components/schemas/AirlineCodeType'
        contacts:
          type: object
          description: A set of contacts.
          required:
          - general
          properties:
            general:
              description: Primary contact
              $ref: 'https://raw.githubusercontent.com/windingtree/wiki/2c6312c06b15a2c12fe764ce10bdb6c4a0f78843/shared-resources.yaml#/components/schemas/Contact'
        updatedAt:
          type: string
          description: Date-time when the data was last changed. Used by consumers to handle incremental updates and caching.
          format: date-time
    Services:
      type: object
      description: A set of airline services.
      required:
        - updatedAt
        - flightNumbers
      properties:
        flightNumbers:
          type: object
          description: Object where property names are flight numbers.
          additionalProperties:
            $ref: '#/components/schemas/FlightNumber'
        updatedAt:
          description: Time of the last update of services information.
          type: string
          format: date-time
    FlightNumber:
      type: object
      description: A single airline service.
      required:
        - origin
        - destination
        - segments
      properties:
        origin:
          description: IATA code of the origin airport.
          $ref: '#/components/schemas/AirportCodeType'
        destination:
          description: IATA code of the destination airport.
          $ref: '#/components/schemas/AirportCodeType'
        equipmentType:
          $ref: '#/components/schemas/EquipmentType'
        operatingAirline:
          $ref: '#/components/schemas/AirlineCodeType'
        segments:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - id
              - departureAirport
              - arrivalAirport
            properties:
              id:
                title: ID of the flight segment (must be unique for the given flight number).
                type: string
              departureAirport:
                description: IATA code of the departure airport.
                $ref: '#/components/schemas/AirportCodeType'
              arrivalAirport:
                description: IATA code of the arrival airport.
                $ref: '#/components/schemas/AirportCodeType'
    Flights:
      type: object
      description: A mapping of flight numbers to flight detail URIs.
      properties:
        uris:
          type: object
          description: Object where property names are flight numbers and values are URIs serving the Flight data resource.
          additionalProperties:
            $ref: 'https://raw.githubusercontent.com/windingtree/wiki/2c6312c06b15a2c12fe764ce10bdb6c4a0f78843/shared-resources.yaml#/components/schemas/UriType'
        updatedAt:
          description: Time of the last update of flight information.
          type: string
          format: date-time
    Flight:
      type: object
      description: Data for a specific flight.
      required:
        - departureDateTime
        - segments
        - updatedAt
      properties:
        departureDateTime:
          description: Date and time of departure from the first segment
          type: string
          format: date-time
        segments:
          description: |
            An object whose keys are segment IDs (they should match the IDs in the Flight Number data).
            It specifies information for individual flight segments for the given flight.
          type: object
          additionalProperties:
            type: object
            required:
              - departureDateTime
              - arrivalDateTime
              - bookingClasses
            properties:
              departureDateTime:
                description: Time of the departure.
                type: string
                format: date-time
              arrivalDateTime:
                description: Time of the arrival.
                type: string
                format: date-time
              bookingClassess:
                description: |
                  Object whose keys are class names/codes and values are price
                  and availability information for the given booking class.
                type: object
                additionalProperties:
                  type: object
                  required:
                    - fare
                    - availabilityCount
                  properties:
                    fare:
                      description: Fare price, potentially expressed in multiple currencies.
                      type: array
                      items:
                        $ref: '#/components/schemas/Fare'
                    availabilityCount:
                      type: integer
                      format: int32
        updatedAt:
          description: Time of the last update of flight information.
          type: string
          format: date-time
    Fare:
      type: object
      required:
        - amount
        - currency
      properties:
        amount:
          description: Fare price for the flight segment.
          type: number
          format: float
        currency:
          description: Fare price currency.
          $ref: 'https://raw.githubusercontent.com/windingtree/wiki/2c6312c06b15a2c12fe764ce10bdb6c4a0f78843/shared-resources.yaml#/components/schemas/CurrencyType'
          
  # elementary schemas
    AirlineCodeType:
      title: Airline Code.
      description: IATA 2-Letter Airline code.
      type: string
      minLength: 2
      maxLength: 2
    AirportCodeType:
      title: Airport Code.
      description: IATA 3-Letter Airport code.
      type: string
      minLength: 3
      maxLength: 3
    EquipmentType:
      title: Airline equipment type (aircraft).
      type: string
      maxLength: 255
